<h1><%= @shelters.name %></h1>
<p>Address: <%= @shelters.address %></p>
<p>City: <%= @shelters.city %></p>
<p>State: <%= @shelters.state %></p>
<p>Zip: <%= @shelters.zip %></p>
<h4><%= link_to 'Update Shelter', "/shelters/#{@shelters.id}/edit" %></h4>
