<h1>Pets in the Denver Area</h1>
<% @pets.each do |pet| %>
  <h2>Adoptable Pet: <%= pet.name %></h2>
  <%= image_tag(pet.image) %>
  <p>Approximate age: <%= pet.approximate_age %></p>
  <p>Gender: <%= pet.sex %></p>
  <p>Shelter Location: <%= pet.shelter.name %></p>
<% end %>
