<h1>Adopt Don't Shop</h1></b>
<h2>Pets located at the <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}", method: :get %></h2></b>
<% @pets.each do |pet| %>
  <h2>Adoptable Pet: <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %></h2>
  <%= image_tag(pet.image) %>
  <p>Approximate age: <%= pet.approximate_age %></p>
  <p>Gender: <%= pet.sex %></p>
  <%= link_to "Edit Pet", "/pets/#{pet.id}/edit", method: :get %>
  <%= link_to "Delete Pet", "/shelters/#{@shelter.id}/#{pet.id}", method: :delete %>
<% end %>
<h4><%= link_to "Add New Pet", "/shelters/#{@shelter.id}/pets/new" %></h4>
