<h1>Meet <%= @pet.name %></h1>
<%= image_tag(@pet.image) %>
<p>LOCATED AT: <%= @pet.shelter.name %></p>
<p>Approximate age: <%= @pet.approximate_age %></p>
<p>Gender: <%= @pet.sex %></p>
<p>Description: <%= @pet.description %></p>
<% if @pet.status %>
  <p>Status: Adoptable </p>
<% else %>
  <p>Status: Pending Adoption </p>
<% end %>
