<h1>Meet <%= @pet.name %></h1>
<%= image_tag(@pet.image) %>
<p>LOCATED AT: <%= link_to "#{@pet.shelter.name}", "/shelters/#{@pet.shelter_id}", method: :get %></p>
<p>Approximate age: <%= @pet.approximate_age %></p>
<p>Gender: <%= @pet.sex %></p>
<p>Description: <%= @pet.description %></p>
<% if @pet.status %>
  <p>Status: Adoptable </p>
<% else %>
  <p>Status: Pending Adoption </p>
<% end %></b>
<h4><%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %></h4>
<h4><%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %></h4>
